@charset "UTF-8";

.viewport {
  display: flex;
  max-height: 100vh;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  background-color: #f0f2f5;
}

.nav {
  display: flex;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  align-items: center;
  height: 3.5rem;
  background: #001529;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  border-width: 1px;
  width: 18%;
  background-color: #fff;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border-bottom-width: 1px;
  padding: 1rem 1rem;
  width: 100%;
  transition-duration: 300ms;
}

.link:hover {
  background-color: #eff3f5;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 5rem;
  min-height: 100vh;
}

.tableContainer {
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
  padding: 2rem;
  border-width: 1px;
  border-radius: 14px;
  background-color: #fff;
}

.AddCTA {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #3b82f6;
  color: #3b82f6;
  transition-duration: 300ms;
  font-size: 0.875rem;
}

.addButton:hover {
  color: #ffffff;
  background-color: #3b82f6;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 14px;
  border-width: 1px;
  z-index: 10;
  background-color: white;
  width: 60rem;
  max-width: 80%;
  padding: 3rem 5rem;
}

.deleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 14px;
  border-width: 1px;
  z-index: 10;
  background-color: white;
  width: 25rem;
  max-width: 80%;
  padding: 2rem 2rem;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.deleteModal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.close-button {
  cursor: pointer;
  font-size: 1.875rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
